<!DOCTYPE html>

<head>
  <script src="https://accounts.google.com/gsi/client" defer></script>

  <script src="js/main.js" type="module"></script>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <div class="container">
    <h1>Illustration for post<a
        href='https://marian-caikovski.medium.com/websockets-and-server-sent-events-with-node-js-and-express-ccbefee091d5'>
        Websockets and Server-Sent Events with Node.js and Express.js</a></h1>
    Try accessing <a href="/restricted">/restricted</a>, then authenticate with "tj" and "foobar".

    <% if (user) { %>
      <p> Hello <%= user.name %>! </p>
      <p> <a href=/logout> Logout </a> </p>
      <% } else { %>
        <div id="frameDiv">
          <div id="g_id_onload" data-client_id="<%= CLIENT_ID %>" data-login_uri="http://localhost:3000/login"
            data-auto_prompt="false">
          </div>
          <div class="g_id_signin" data-type="standard" data-size="large" data-theme="outline" data-text="sign_in_with"
            data-shape="rectangular" data-logo_alignment="left">
          </div>
        </div>
        <% } %>


  </div>
</body>

</html>