<!DOCTYPE html>

<head>
  <script src="https://accounts.google.com/gsi/client" defer></script>
  <script src="js/main.js" type="module"></script>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <div class="container">
    <%- include('header.html') %>
      <% if (user) { %>
        <p class='links'>
          <%= user.name %> <a href="/aboutme">About me</a> <a href=/logout>Logout</a>
        </p>
        <div id="tableDiv"></div>
        <% } else { %>
          <div class="loginPanel">
            <div id="g_id_onload" data-client_id="<%= process.env.CLIENT_ID %>" data-login_uri="/login" data-auto_prompt="true"
              data-prompt_parent_id="oneTap">
            </div>
            <div class="g_id_signin" data-type="standard" data-size="large" data-theme="outline"
              data-text="sign_in_with" data-shape="rectangular" data-logo_alignment="left" data-width="250">
            </div>
            <div id="oneTap"></div>
          </div>
  </div>
  <% } %>


    </div>
</body>

</html>