<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <div class="container">
    <h1>Illustration for post<a
        href='https://marian-caikovski.medium.com/websockets-and-server-sent-events-with-node-js-and-express-ccbefee091d5'>
        Websockets and Server-Sent Events with Node.js and Express.js</a></h1>

    <p class='links'><%= user.name %> <a href="/">Home</a> <a href=/logout>Logout</a> </p>
    <div class="preferences">Here are your preferences</div>
  </div>
</body>
</html>